name: Backend CI (Laravel)

on:
  pull_request:
    paths:
      - "Server/**"
      - ".github/workflows/backend-ci.yml"

jobs:
  backend-ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.2"
          extensions: mbstring
          coverage: none

      - name: Install dependencies
        run: |
          cd Server
          composer install --no-interaction --prefer-dist --no-scripts

      - name: Prepare env
        run: |
          cd Server
          ls -la
          cp .env.ci .env
          php artisan key:generate

      - name: Run tests
        run: |
          cd Server
          php artisan test
